.comment {
  display: flex;
}

.comment__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.collapse__icon {
  font-size: 0.8rem;
  color: var(--brown);
  margin: 0.2em 0.45em;
  cursor: pointer;
}

.comment__arrows {
  display: flex;
  flex-direction: column;
}

.upvote:hover {
  color: var(--red);
  background: #00000033;
}

.downvote:hover {
  color: var(--blue);
  background: #00000033;
}

.upvoted {
  color: var(--red);
}

.downvoted {
  color: var(--blue);
}

.arrow__icon {
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 3px;
  user-select: none;
}

.collapse__line__container {
  flex: 1;
  padding: 5px;
  cursor: pointer;
}

.collapse__line {
  height: 100%;
  width: 2px;
  background: var(--grey);
}

.collapse__line__container:hover .collapse__line {
  background: var(--light-brown);
}

.comment__main {
  flex: 1;
  margin-left: 0.5em;
}

.comment__main > *:not(:last-child) {
  margin-bottom: 0.5em;
}

.comment__header {
  font-size: 0.8rem;
}

.comment__header > *:not(:last-child) {
  margin-right: 0.5em;
}

.comment__user {
  color: var(--brown);
  text-decoration: none;
}

.comment__user:hover {
  text-decoration: underline;
}

.comment__footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.comment__reply {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5em 0.3em;
  border-radius: 3px;
  user-select: none;
}

.comment__reply:hover {
  background: #00000033;
}

.reply__icon {
  margin-bottom: -2px;
  margin-right: 0.3em;
}
