.sidebar__community {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.sidebar__community:hover {
  background: var(--lighter-brown);
  cursor: pointer;
}

.sidebar__community__label {
  width: 80%;
}
