.post__content {
  min-width: 20em;
  width: 80%;
  max-width: 50em;
  border-radius: 3px;
  overflow: hidden;
  background: var(--white);
  padding: 1.5em;
}

.post__content > *:not(:last-child) {
  margin-bottom: 3em;
}

.post__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  background: var(--grey);
}

.comment__form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.comments__container {
  display: flex;
  flex-direction: column;
}

.comments__container > *:not(:last-child) {
  margin-bottom: 2em;
}
