.form__input {
  display: flex;
  flex-direction: column;
}

.input {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--brown);
  background: var(--white);
}

.error__border {
  border-bottom: 2px solid var(--red);
}

.input__label {
  margin-bottom: 0.5em;
}

.input__error {
  color: var(--red);
  font-size: 0.8rem;
  margin-top: 0.3em;
}
