.header__container {
  position: sticky;
  top: 0;
  height: 5em;
  min-height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
  background: var(--white);
}

.header__container_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container_left > *:not(:last-child) {
  margin-right: 1em;
}

.header__container_right > *:not(:last-child) {
  margin-right: 1em;
}

.header__logo__link {
  color: var(--grey);
}

.header__logo {
  font-size: 3.5rem;
}
